* {box-sizing: border-box; margin: 0; padding: 0;}
html{scroll-behavior: smooth;}
li,p {line-height: 2.0; font-size:0.9em; margin: 3px 0 3px 20px;}
#container {display: grid; grid-template-columns: 300px 600px; grid-template-rows: 1fr; margin: 0 auto; width:900px; background:#fff;}
aside {grid-column: 1; padding:20px 50px;}
#detail {margin-top: 10px;}
.change>li:hover{background-color: rgb(240, 226, 151); color: black; font-style: italic; font-weight: bold; transition: 1s;}
#main {grid-column: 2; height:100%; padding:20px;}
#main > section {width:500px;padding:20px;margin:10px;border-bottom:1px dotted #222;}
section > p, section>table{margin-left:40px;}
section  a:hover{text-decoration: underline;}
aside h1 {font-size:1.8em; font-variant: small-caps;}
aside h2 {font-size:1.2em; margin-top: 20px;}
#namecard p {font-size:0.9em;color:rgb(99, 99, 99);}
#namecard>h1 {font-size: 28px;}
.subtitle {font-size:1.5em;line-height:0.9em;}
.subtitle::before {content:""; display:block; width:24px; height:24px; float:left; margin:0 15px 0 0;}
section > p {font-size:0.9em;}
section > h2 {margin-bottom: 10px;}
table {width:90%;border:2px solid #222; border-collapse: collapse; text-align: center;}
thead {background:#eee;}
th, td {border:1px solid #ccc; padding:5px; font-size:0.8em;}
a, a:visited {color: #222; text-decoration: none;}
#sns > ul {padding-left: 0;}
#sns > ul > li { display: inline-block; width:80px;}
img {border: gray solid ;border-radius: 50%;width: 200px;height: 200px;margin-left: -3px; margin-bottom: 15px;}
.skills>ul {transition-duration: 3s;}
footer > h3 > a{text-decoration: none; text-align: center; font-weight: bold; margin-left: 40%;}
.webdev > ul > li { margin-left: -10px; list-style: none; margin-bottom: 10px;}
